<h3 class="f-title">所有角色
  <%= link_to '新建角色', new_admin_role_path %>
</h3>
<%= react_component('RoleTableApp', props: { dataSource: @admin_roles, total: @admin_roles.total_count, page_size: @count, current: current_page }) %>
