<h3 class="f-title">新建角色</h3>
<%= react_component('RoleFormApp', props: { authorities: AdminAuthorization::CONFIG , method: 'POST', action: admin_roles_path, csrf_token: session[:_csrf_token], role: @admin_role }) %>
